# how to create python pandas dataframe
pandas dataframe is a 2 dimensional ,size utable,potentially hetrogeneous tabular data structute with labeled axes(rows and columb)

In [1]:
import pandas as pd

In [5]:
emt_df=pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [6]:
x=['a','b','c']
print(x)

['a', 'b', 'c']

In [7]:
df1=pd.DataFrame(x)
print(df1)

   0
0  a
1  b
2  c

In [10]:
x_of_x=[[1,2,3],[2,3,4],[3,4,5]]
print(x_of_x)

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [12]:
df2=pd.DataFrame(x_of_x)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  3  4  5

In [13]:
dict1={'ID':[1,2,3,4]}
dict1

{'ID': [1, 2, 3, 4]}

In [14]:
df3=pd.DataFrame(dict1)
df3

   ID
0   1
1   2
2   3
3   4

In [15]:
dict1={'ID':[1,2,3,4],'SN':[11,22,33,44]}
dict1

{'ID': [1, 2, 3, 4], 'SN': [11, 22, 33, 44]}

In [16]:
df3=pd.DataFrame(dict1)
df3

   ID  SN
0   1  11
1   2  22
2   3  33
3   4  44