In [1]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv(r"C:\Users\USER\Downloads\MOCK_DATA.csv")
df

,id,first_name,last_name,email,gender,ip_address
0,1,Merle,Malenfant,mmalenfant0@mashable.com,Female,226.191.37.4
1,2,Nanny,Limpkin,nlimpkin1@clickbank.net,Female,87.52.126.169
2,3,Winonah,Gullam,wgullam2@google.cn,Female,235.55.106.186
3,4,Cherye,Bowskill,cbowskill3@oakley.com,Female,176.140.109.222
4,5,Rik,Stoffler,rstoffler4@yale.edu,Male,40.237.46.143
...,...,...,...,...,...,...
95,96,Florentia,Shyram,fshyram2n@amazonaws.com,Female,25.193.231.101
96,97,Odessa,Legrave,olegrave2o@europa.eu,Female,207.42.187.205
97,98,Gonzales,Tattershall,gtattershall2p@list-manage.com,Male,219.79.237.218
98,99,Corney,Cregan,ccregan2q@ucoz.com,Male,185.114.105.90
99,100,Wenonah,Becerro,wbecerro2r@wikia.com,Female,117.82.50.58

# PANDAS GROUPBF FUNCTION

In [11]:
a=df.groupby(by='first_name')
a

In [12]:
a.groups

{'Adams': [31], 'Adan': [8], 'Adolpho': [17], 'Alberta': [44], 'Alistair': [50], 'Amara': [84], 'Andreas': [27], 'Angelique': [63], 'Arie': [53], 'Averell': [47], 'Barbie': [36], 'Bink': [69], 'Brietta': [38], 'Carie': [20], 'Carmelia': [72], 'Casper': [19], 'Cassaundra': [66], 'Cherye': [3], 'Chickie': [5], 'Claudell': [10], 'Cloris': [40], 'Colene': [91], 'Corney': [98], 'Danya': [74], 'Deerdre': [22], 'Desi': [54], 'Doralynn': [81], 'Drud': [83], 'Drugi': [29], 'Dud': [89], 'Egbert': [12], 'Fabian': [56], 'Fairlie': [18], 'Fern': [79], 'Fernandina': [49], 'Fiona': [11], 'Florentia': [95], 'Florie': [88], 'Frasco': [25], 'Gabriel': [48], 'Gizela': [9], 'Gonzales': [97], 'Grady': [7], 'Grayce': [39], 'Hogan': [70], 'Hugues': [90], 'Jeno': [46], 'Jodi': [15], 'Kathlin': [33], 'Kev': [71], 'Ladonna': [34], 'Land': [73], 'Lani': [16], 'Leyla': [65], 'Lon': [58], 'Lowell': [68], 'Mathian': [45], 'Matteo': [55], 'Merle': [0], 'Mill': [94], 'Missy': [64], 'Nanny': [1], 'Neddie': [59], 'Nicola': [42], 'Nollie': [32], 'Odessa': [96], 'Orsa': [24], 'Pauletta': [85], 'Pavel': [67], 'Pegeen': [6], 'Pip': [41], 'Ramsey': [78], 'Reeta': [87], 'Rik': [4], 'Rivalee': [92], 'Romy': [14], 'Rouvin': [60], 'Royall': [51], 'Rriocard': [82], 'Saxon': [23], 'Shaun': [62], 'Shelley': [13], 'Sheppard': [26], 'Sibylle': [30], 'Storm': [35], 'Talbot': [61], 'Terry': [76], 'Theodor': [77], 'Tommi': [43], 'Torie': [57], 'Twila': [28], 'Vanessa': [80], 'Verina': [86], 'Vinny': [52], 'Wenonah': [99], 'Westleigh': [37], 'Will': [21], 'Willey': [75], 'Winifield': [93], 'Winonah': [2]}

In [15]:
df.groupby(['first_name','gender']).groups

{('Adams', 'Male'): [31], ('Adan', 'Female'): [8], ('Adolpho', 'Male'): [17], ('Alberta', 'Female'): [44], ('Alistair', 'Male'): [50], ('Amara', 'Female'): [84], ('Andreas', 'Agender'): [27], ('Angelique', 'Female'): [63], ('Arie', 'Male'): [53], ('Averell', 'Male'): [47], ('Barbie', 'Agender'): [36], ('Bink', 'Male'): [69], ('Brietta', 'Female'): [38], ('Carie', 'Female'): [20], ('Carmelia', 'Genderqueer'): [72], ('Casper', 'Male'): [19], ('Cassaundra', 'Female'): [66], ('Cherye', 'Female'): [3], ('Chickie', 'Female'): [5], ('Claudell', 'Male'): [10], ('Cloris', 'Female'): [40], ('Colene', 'Agender'): [91], ('Corney', 'Male'): [98], ('Danya', 'Genderqueer'): [74], ('Deerdre', 'Female'): [22], ('Desi', 'Male'): [54], ('Doralynn', 'Genderqueer'): [81], ('Drud', 'Male'): [83], ('Drugi', 'Male'): [29], ('Dud', 'Male'): [89], ('Egbert', 'Male'): [12], ('Fabian', 'Male'): [56], ('Fairlie', 'Male'): [18], ('Fern', 'Female'): [79], ('Fernandina', 'Female'): [49], ('Fiona', 'Female'): [11], ('Florentia', 'Female'): [95], ('Florie', 'Female'): [88], ('Frasco', 'Male'): [25], ('Gabriel', 'Male'): [48], ('Gizela', 'Female'): [9], ('Gonzales', 'Male'): [97], ('Grady', 'Male'): [7], ('Grayce', 'Female'): [39], ('Hogan', 'Male'): [70], ('Hugues', 'Male'): [90], ('Jeno', 'Male'): [46], ('Jodi', 'Male'): [15], ('Kathlin', 'Female'): [33], ('Kev', 'Male'): [71], ('Ladonna', 'Female'): [34], ('Land', 'Male'): [73], ('Lani', 'Bigender'): [16], ('Leyla', 'Female'): [65], ('Lon', 'Male'): [58], ('Lowell', 'Male'): [68], ('Mathian', 'Male'): [45], ('Matteo', 'Male'): [55], ('Merle', 'Female'): [0], ('Mill', 'Male'): [94], ('Missy', 'Female'): [64], ('Nanny', 'Female'): [1], ('Neddie', 'Male'): [59], ('Nicola', 'Male'): [42], ('Nollie', 'Bigender'): [32], ('Odessa', 'Female'): [96], ('Orsa', 'Female'): [24], ('Pauletta', 'Female'): [85], ('Pavel', 'Male'): [67], ('Pegeen', 'Female'): [6], ('Pip', 'Male'): [41], ('Ramsey', 'Male'): [78], ('Reeta', 'Female'): [87], ('Rik', 'Male'): [4], ('Rivalee', 'Female'): [92], ('Romy', 'Female'): [14], ('Rouvin', 'Bigender'): [60], ('Royall', 'Male'): [51], ('Rriocard', 'Male'): [82], ('Saxon', 'Male'): [23], ('Shaun', 'Female'): [62], ('Shelley', 'Male'): [13], ('Sheppard', 'Male'): [26], ('Sibylle', 'Bigender'): [30], ('Storm', 'Female'): [35], ('Talbot', 'Male'): [61], ('Terry', 'Male'): [76], ('Theodor', 'Male'): [77], ('Tommi', 'Female'): [43], ('Torie', 'Female'): [57], ('Twila', 'Female'): [28], ('Vanessa', 'Female'): [80], ('Verina', 'Female'): [86], ('Vinny', 'Male'): [52], ('Wenonah', 'Female'): [99], ('Westleigh', 'Male'): [37], ('Will', 'Male'): [21], ('Willey', 'Male'): [75], ('Winifield', 'Male'): [93], ('Winonah', 'Female'): [2]}

In [20]:
for first_name,df_1 in df:
    print(first_name)
    print(df_1)

i
d

ValueError: too many values to unpack (expected 2)